* {
    /*width: 500px;*/
    /*margin: 0 auto;*/
}

.forms-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.forms-wrapper > input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 50px;
    padding-left: 15px;
    /*margin-top: 200px;*/
}